*.iml
.gradle

/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
app/app.iml
app/release
app/debug

.idea/workspace.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/navEditor.xml
.idea/solarlint
.idea/index.pb
.idea/sonarlint/issuestore/index.pb
